@import "tailwindcss";
/* App.css */
body {
  background: black;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: linear-gradient(
    to bottom right,
    rgba(88, 28, 135, 0.4),
    black,
    rgba(98, 19, 100, 0.899)
  );
  z-index: -1;
}


